cryptography==3.4.8
more-itertools~=8.10.0
python-dateutil~=2.8.1
pytz~=2021.3
requests~=2.25.1
SecretStorage~=3.3.1
six~=1.16.0
xdg~=5
xkit~=0.0.0
zipp~=1.0.0
geoip2~=4.5.0
graphviz~=0.19.1
jsonpickle~=2.1.0
setuptools~=61.3.1
pandas~=0.24.2
pympler~=1.0.1